// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// Variables
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 

// Colors
$black: #000000;
$white: #ffffff;
$red: red;

// Fonts
$serif: georgia, serif;
$sans-serif: helvetica, sans-serif;

// Breakpointss
$mq-small: 500px;
$mq-medium: 700px;
$mq-large: 850px;